{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="banner cart-banner text-light p-5">
        This is cart
    </div>

    <div class="cart-main">
        <div class="container py-5 position-relative">
            <div class="row">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="cart-item pb-3 row border-bottom">
                            <a href="/" class="cart-img col-3">
                                <img class="cart-img" src="{% static 'store/image/pd1.jpg' %}" alt="pd">
                            </a>

                            <div class="cart-detail d-flex flex-column col-6 pt-3 mt-3">
                                <a href="/" class="product-link mb-2 dark-text">Women Colorblock Sneakers</a>
                                <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small>
                                <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small>
                                <span class="product-price mt-2 d-block">$154.00</span>
                            </div>

                            <div class="product-quantity col-3 pt-3 mt-3">
                                <span class="ml-5 font-weight-md mb-2 d-block dark-text">Quantity</span>
                                <input type="number" class="form-control ml-5" value="1" min="1" max="5">
                                <button class="btn ml-5 font-weight-md px-0 mt-1"><i class="far fa-times-circle mr-2"></i>Remove</button>
                            </div>
                        </li>
                        <li class="cart-item pb-3 row">
                            <a href="/" class="cart-img col-3">
                                <img class="cart-img" src="{% static 'store/image/pd1.jpg' %}" alt="pd">
                            </a>

                            <div class="cart-detail d-flex flex-column col-6 pt-3 mt-3">
                                <a href="/" class="product-link mb-2 dark-text">Women Colorblock Sneakers</a>
                                <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small>
                                <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small>
                                <span class="product-price mt-2 d-block">$154.00</span>
                            </div>

                            <div class="product-quantity col-3 pt-3 mt-3">
                                <span class="ml-5 font-weight-bold mb-2 d-block dark-text">Quantity</span>
                                <input type="number" class="form-control ml-5" value="1" min="1" max="5">
                                <button class="btn ml-5 font-weight-md px-0 mt-1"><i class="far fa-times-circle mr-2"></i>Remove</button>
                            </div>
                        </li>
                        <li class="cart-item pb-3 row">
                            <a href="/" class="cart-img col-3">
                                <img class="cart-img" src="{% static 'store/image/pd1.jpg' %}" alt="pd">
                            </a>

                            <div class="cart-detail d-flex flex-column col-6 pt-3 mt-3">
                                <a href="/" class="product-link dark-text mb-2">Women Colorblock Sneakers</a>
                                <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small>
                                <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small>
                                <span class="product-price mt-2 d-block">$154.00</span>
                            </div>

                            <div class="product-quantity col-3 pt-3 mt-3">
                                <span class="ml-5 font-weight-bold mb-2 d-block dark-text">Quantity</span>
                                <input type="number" class="form-control ml-5" value="1" min="1" max="5">
                                <button class="btn ml-5 font-weight-md px-0 mt-1"><i class="far fa-times-circle mr-2"></i>Remove</button>
                            </div>
                        </li>
                        <li class="cart-item pb-3 row">
                            <a href="/" class="cart-img col-3">
                                <img class="cart-img" src="{% static 'store/image/pd1.jpg' %}" alt="pd">
                            </a>

                            <div class="cart-detail d-flex flex-column col-6 pt-3 mt-3">
                                <a href="/" class="product-link dark-text mb-2">Women Colorblock Sneakers</a>
                                <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small>
                                <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small>
                                <span class="product-price mt-2 d-block">$154.00</span>
                            </div>

                            <div class="product-quantity col-3 pt-3 mt-3">
                                <span class="ml-5 font-weight-bold mb-2 d-block dark-text">Quantity</span>
                                <input type="number" class="form-control ml-5" value="1" min="1" max="5">
                                <button class="btn ml-5 font-weight-md px-0 mt-1"><i class="far fa-times-circle mr-2"></i>Remove</button>
                            </div>
                        </li>
                        <li class="cart-item pb-3 row">
                            <a href="/" class="cart-img col-3">
                                <img class="cart-img" src="{% static 'store/image/pd1.jpg' %}" alt="pd">
                            </a>

                            <div class="cart-detail d-flex flex-column col-6 pt-3 mt-3">
                                <a href="/" class="product-link dark-text mb-2">Women Colorblock Sneakers</a>
                                <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small>
                                <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small>
                                <span class="product-price mt-2 d-block">$154.00</span>
                            </div>

                            <div class="product-quantity col-3 pt-3 mt-3">
                                <span class="ml-5 font-weight-bold mb-2 d-block dark-text">Quantity</span>
                                <input type="number" class="form-control ml-5" value="1" min="1" max="5">
                                <button class="btn ml-5 font-weight-md px-0 mt-1"><i class="far fa-times-circle mr-2"></i>Remove</button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-4">
                    <div class="sidebar rounded p-4 ml-5 mr-3 position-absolute">
                        <div class="cart-total text-center border-bottom pb-4">
                            <h4 class="dark-text">Subtotal</h4>
                            <h3 class="dark-text">$265.00</h3>
                        </div>
                        <div class="cart-comment py-4">
                            <h6 class="mb-3"><span class="blue-span rounded px-1 pb-1 mr-2"><small>Note</small></span>Additional comments</h6>
                            <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block py-2 mt-2 font-weight-md"><i class="far fa-credit-card mr-2"></i>Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}