{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="banner cart-banner text-light p-5">
        This is cart
    </div>

    <div class="cart-main">
        <div class="container py-5 position-relative">
            <div class="row">
                <div class="col-8">
                    {% if order.get_items_total == 0 %}
                        <h4 class="text-center">Bạn chưa thêm sản phẩm nào vào giỏ hàng</h4>
                    {% else %}
                        <div class="row border p-2 mb-2">
                            <span class="col-8 dark-text font-weight-md text-center">Thông tin sản phẩm</span>
                            <span class="col-2 dark-text font-weight-md text-center border-left">Số lượng</span>
                            <span class="col-2 dark-text font-weight-md text-center border-left">Thành tiền</span>
                        </div>
                        <ul class="list-unstyled pt-2">
                            {% for order_item in order_items %}
                            <li class="cart-item pb-3 row border-bottom mb-3">
                                <a href="/" class="cart-img col-2">
                                    <img class="cart-img" src="{{ order_item.product.image.url }}" alt="pd">
                                </a>

                                <div class="cart-detail d-flex flex-column col-6">
                                    <a href="/" class="product-link mb-2 dark-text">{{ order_item.product }}</a>
                                    <!-- <small class="font-weight-md"><span class="light-text">Size:</span> 8.5</small> -->
                                    <!-- <small class="font-weight-md"><span class="light-text">Color:</span> White & Blue</small> -->
                                    <span class="product-price mt-2 d-block">₫ {{ order_item.product.price }}</span>
                                </div>

                                <div class="product-quantity col-2 p-0 text-center mt-4">
                                    <div class="row mx-3">
                                        <span data-product="{{order_item.product.id}}"
                                        data-action="remove"
                                        class="update-cart col-3 border d-flex justify-content-center align-items-center">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                        <span class="col-4 border-top border-bottom d-flex align-items-center justify-content-center py-1">{{ order_item.quantity }}</span>
                                        <span data-product="{{ order_item.product.id }}"
                                        data-action="add"
                                        class="update-cart cursor-pointer col-3 border d-flex justify-content-center align-items-center">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                    <button data-product="{{ order_item.product.id }}" data-action="delete" class="btn font-weight-md px-0 mt-1 update-cart"><i class="far fa-times-circle mr-2"></i>Xóa</button>
                                </div>

                                <div class="product-total col-2 mt-3">
                                    <span class="product-price mt-2 d-block">₫ {{ order_item.get_total }}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="col-4">
                    <div class="sidebar rounded p-4 ml-5 mr-3 position-absolute">
                        <div class="cart-total text-center border-bottom pb-4">
                            <h4 class="dark-text">Tổng số tiền ({{order.get_items_total }} sản phẩm)</h4>
                            <h3 class="dark-text">₫ {{ order.get_subtotal }}</h3>
                        </div>
                        <div class="cart-comment py-4">
                            <h6 class="mb-3"><span class="blue-span rounded px-1 pb-1 mr-2"><small>Note</small></span>Additional comments</h6>
                            <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block py-2 mt-2 font-weight-md"><i class="far fa-credit-card mr-2"></i>Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}