{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="banner cart-banner text-light p-5">
        This is checkout page
    </div>
    <div class="checkout-main">
        <div class="container py-5 position-relative">
            <div class="row">
                <div class="col-8">
                    <div class="user-info p-5 mb-4">
                        This is User Profile info
                    </div>
                    <div class="checkout-form">
                        <h5 class="dark-text">Địa Chỉ Nhận Hàng</h5>

                        <form action="" class="border-top mt-3 py-3">
                            <div class="row">
                                <div class="col">
                                    <label for="inputFirstname">Tên</label>
                                    <input type="text" name="inputFirstname" class="form-control" required>
                                </div>
                                <div class="col">
                                    <label for="inputLastname">Họ</label>
                                    <input type="text" name="inputLastname" class="form-control" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail">Địa chỉ Email</label>
                                    <input type="email" name="inputEmail" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="inputPhone">Số điện thoại</label>
                                    <input type="tel" name="inputPhone" class="form-control" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="inputCountry">Tỉnh / Thành phố</label>
                                    <select id="inputCountry" class="form-control" required>
                                        <option value="">Hà Nội</option>
                                        <option value="">Hồ Chí Minh</option>
                                      </select>
                                </div>
                                <div class="col">
                                    <label for="inputState">Quận / Huyện</label>
                                    <select id="inputState" class="form-control" required>
                                        <option>ABC</option>
                                        <option>ABC</option>
                                        <option>ABC</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row pb-4">
                                <div class="col">
                                    <label for="inputCity">Phường / Xã</label>
                                    <select id="inputCity" class="form-control" required>
                                        <option>EEE</option>
                                        <option>EEE</option>
                                      </select>
                                </div>
                                <div class="col">
                                    <label for="inputCompany">Địa chỉ cụ thể</label>
                                    <input type="text" name="inputCompany" class="form-control" required>
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="form-check col border-top mx-3 py-2">
                                    <input class="form-check-input" type="checkbox" id="defaultAddress">
                                    <label class="form-check-label" for="defaultAddress">
                                      Lưu làm địa chỉ mặc định
                                    </label>
                                  </div>
                            </div>

                            <div class="row">
                                <div class="form-check col border-top mx-3 py-2">
                                    Chọn phương thức thanh toán
                                  </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <a href="{% url 'cart' %}" class="btn btn-outline-secondary btn-block p-2 font-weight-md"><i class="fas fa-chevron-left mr-2"></i> Quay lại giỏ hàng</a>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block p-2 font-weight-md btn-checkout">Tiếp tục <i class="fas fa-chevron-right ml-2"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-4">
                    <div class="sidebar rounded p-4 ml-5 mr-3 position-absolute">
                        <h5 class="text-center">Sản phẩm</h5>
                        <ul class="list-unstyled checkout-list">
                            {% for order_item in order_items %}
                            <li class="checkout-item border-bottom d-flex mb-1 pb-1">
                                <img class="checkout-img" src="{{ order_item.product.image.url }}" alt="pd1">
                                <div class="checkout-item-name">
                                    <a href="/" class="checkout-product-name font-weight-md dark-text">{{ order_item.product.name }}</a>
                                    <p class="font-weight-bold">₫ {{ order_item.product.price }} <span class="light-text font-weight-normal">x {{ order_item.quantity }}</span></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="checkout-calculator border-bottom pb-2">
                            <div class="calculator-row d-flex justify-content-between light-text mb-1 font-weight-md">
                                <span>Tổng số tiền:</span>
                                <span>₫ {{ order.get_subtotal }}</span>
                            </div>

                            <div class="calculator-row d-flex justify-content-between light-text mb-1 font-weight-md">
                                <span>Phí vận chuyển:</span>
                                <span>₫ 0</span>
                            </div>
                            <div class="calculator-row d-flex justify-content-between light-text mb-1 font-weight-md">
                                <span>Thuế:</span>
                                <span>₫ 0</span>
                            </div>
                            <div class="calculator-row d-flex justify-content-between light-text mb-1 font-weight-md">
                                <span>Giảm giá:</span>
                                <span>₫ 0</span>
                            </div>
                        </div>

                        <div class="checkout-total md-text mt-2">
                            <h2 class="text-center">₫ {{ order.get_subtotal }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}