{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="banner shop-banner text-light p-5">
        <div class="container">
            This is banner
        </div>
    </div>

    <div class="shop-main">
        <div class="container py-5 position-relative">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-4">
                            <div class="product-item mt-2">
                                <a class="product-top">
                                    <button class="btn btn-primary rounded-circle position-absolute">
                                        <small><i class="far fa-heart md-text"></i></small>
                                    </button>
                                    {% if product.imageURL != '' %}
                                    <img src="{{ product.imageURL }}" alt="pd1">
                                    {% else %}
                                    <img src="{% static 'store/image/pd1.jpg' %}" alt="pd1">
                                    {% endif %}
                                </a>
                                <div class="product-bottom d-flex flex-column px-3">
                                    <a href="/" class="light-text category-link">{{ product.category }}</a>
                                    <a href="/" class="product-link dark-text">{{ product.name|truncatewords:6 }}</a>
                                    <div class="product-span d-flex justify-content-between mt-2">
                                        <span class="product-price">${{ product.price }}</span>
                                        <ul class="product-star list-unstyled d-flex">
                                            <li>
                                                <i class="fas fa-star star-solid"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star star-solid"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star star-solid"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star star-solid"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star star-outline"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>  
                                <div class="product-hidden position-absolute">
                                    <div class="transparent"></div>
                                    <div class="product-options">
                                        <ul class="list-unstyled d-flex justify-content-center">
                                            <li>
                                                <button class="btn btn-sm btn-outline-primary mx-1 text-center">7.5</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-sm btn-primary mx-1 text-center">8</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-sm btn-outline-primary mx-1 text-center">8.5</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-sm btn-outline-primary mx-1 text-center">9</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-add px-3 pb-3">
                                        <button class="btn btn-primary btn-block">
                                            <i class="fas fa-shopping-cart"></i>
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-4">
                    <div class="sidebar rounded p-4 ml-5 mr-3 position-absolute">
                        <h4>Categories</h4>
                        This is category
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}