/* line 4, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.navbar {
  background-color: #fff; }
  /* line 6, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .navbar navbar-brand h3 {
    color: #373f50; }
  /* line 9, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .navbar .input-group {
    position: relative;
    flex: 7; }
    /* line 12, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .input-group .input-icon {
      position: absolute;
      top: 12px;
      right: 18px;
      z-index: 5;
      color: #7d879c; }
    /* line 19, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .input-group .form-control {
      padding: 20px;
      border-radius: 4px; }
      /* line 22, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
      .navbar .input-group .form-control:focus {
        border-color: #ffb4b5;
        box-shadow: none; }
  /* line 28, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .navbar .navbar-img {
    height: 25px;
    width: 25px; }
  /* line 33, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .navbar .navbar-toolbar {
    flex: 0.25; }
    /* line 35, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .navbar-toolbar .navbar-tool-icon, .navbar .navbar-toolbar a {
      color: #4b566b; }
    /* line 39, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .navbar-toolbar a:hover {
      text-decoration: none; }
    /* line 44, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .navbar-toolbar .cart-icon {
      position: relative;
      background-color: #f3f5f9;
      padding: 10px 10px 6px 10px; }
      /* line 48, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
      .navbar .navbar-toolbar .cart-icon i {
        font-size: 18px; }
      /* line 51, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
      .navbar .navbar-toolbar .cart-icon span {
        position: absolute;
        top: -4px;
        right: -4px;
        color: #fff;
        background-color: #fe696a;
        font-size: 12px;
        padding: 0 5px; }
  /* line 63, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .navbar .navbar-nav {
    flex: 1; }
    /* line 65, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .navbar .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem; }
      /* line 68, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
      .navbar .navbar-nav .nav-link a {
        color: #4b566b;
        font-weight: 500;
        font-size: 17px;
        transition: .2s; }
        /* line 73, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
        .navbar .navbar-nav .nav-link a:hover {
          color: #fe696a;
          text-decoration: none; }

@media (min-width: 1200px) {
  /* line 83, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .container {
    max-width: 1260px; } }

/* line 88, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.page-container {
  margin-top: 72px; }

/* line 92, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.home-banner {
  background-color: #F5B1B0;
  max-height: 1230px;
  overflow: hidden; }
  /* line 96, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .home-banner .banner-right {
    margin-top: 160px;
    margin-right: 80px; }
    /* line 99, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .home-banner .banner-right h1 {
      font-size: 50px; }
    /* line 102, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    .home-banner .banner-right .btn-primary {
      background-color: #fe696a;
      border: none; }

/* line 109, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.more-info-left,
.more-info-right {
  flex: 1; }
  /* line 112, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .more-info-left i,
  .more-info-right i {
    font-size: 30px; }
  /* line 115, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .more-info-left h4,
  .more-info-right h4 {
    color: #373F50; }
  /* line 118, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .more-info-left span,
  .more-info-right span {
    color: #8991A4; }

/* line 123, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.more-info-left {
  background-color: #FFF1F2; }
  /* line 125, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .more-info-left i {
    color: #fe696a; }

/* line 130, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.more-info-right {
  background-color: #EFF0FA; }
  /* line 132, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .more-info-right i {
    color: #4E54C8; }

/* line 137, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
footer {
  background-color: #373F50; }
  /* line 139, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  footer a {
    color: #B1BCBB;
    transition: .2s;
    font-weight: 500;
    font-size: 14px; }
    /* line 144, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    footer a:hover {
      color: #fff;
      text-decoration: none; }
  /* line 149, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  footer .form-control {
    padding: 20px; }
    /* line 151, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    footer .form-control:focus {
      box-shadow: none;
      border-color: #fe696a; }
  /* line 156, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  footer .download-text {
    font-size: 15px; }
    /* line 158, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    footer .download-text span {
      font-size: 10px;
      color: #8991A4; }
  /* line 163, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  footer .btn {
    background-color: #2B3445;
    border: none; }
    /* line 166, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
    footer .btn:hover {
      background-color: #232a38; }

/* line 173, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.shop-banner {
  background-color: #373F50; }

/* line 179, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.shop-main .product-item .btn-primary {
  background-color: #F3F5F9;
  border: none;
  padding: 4px 9px; }
  /* line 183, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
  .shop-main .product-item .btn-primary i {
    color: #4b566b; }

/* line 187, c:/users/admin/desktop/django/ecommerce/store/static/store/css/main.scss */
.shop-main .product-item img {
  width: 100%; }
