$primary-color: #fe696a;
$text-color: #4b566b;
$light-text-color: #8991A4;
$bg-dark: #373F50;

.light-text-color {
    color: $light-text-color;
}

a:hover {
    text-decoration: none;
}

.btn {
    box-shadow: none!important;
    
}
.btn-primary {
    background-color: $primary-color;
    border: none;
    &:hover, &:active {
        background-color: #fc3e3e;
    }
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    &:hover, &:active {
        background-color: $primary-color!important;
        color: #fff;
        border-color: $primary-color!important;
    }
}

// navbar 
.header {
    box-shadow: 0px 19px 3px -18px rgba(0,0,0,0.1);
}
.navbar {
    background-color: #fff;
    navbar-brand h3 {
        color: rgb(55, 63, 80);
    }
    .input-group {
        position: relative;
        flex: 7;
        .input-icon {
            position: absolute;
            top: 12px;
            right: 18px;
            z-index: 5;
            color: #7d879c;
        }
        .form-control {
            padding: 20px;
            border-radius: 4px;
            &:focus {
                border-color: #ffb4b5;
                box-shadow: none;
            }
        }
    }
    .navbar-img {
        height: 25px;
        width: 25px;
    }

    .navbar-toolbar {
        flex: 0.25;
        .navbar-tool-icon, a {
            color: $text-color;
        }
        .cart-icon {
            position: relative;
            background-color: #f3f5f9;
            padding: 10px 10px 6px 10px;
            i {
                font-size: 18px;
            }
            span {
                position: absolute;
                top: -4px;
                right: -4px;
                color: #fff;
                background-color: $primary-color;
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }

    .navbar-nav {
        flex: 1;
        .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            a {
                color: $text-color;
                font-weight: 500;
                font-size: 17px;
                transition: .2s;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1260px;
}
}

.page-container {
    margin-top: 72px;
}

.home-banner {
    background-color: #F5B1B0;
    max-height: 1230px;
    overflow: hidden;
    .banner-right {
        margin-top: 160px;
        margin-right: 80px;
        h1 {
            font-size: 50px;
        }
    }
}

.more-info-left,
.more-info-right {
    flex: 1;
    i {
        font-size: 30px;
    }
    h4 {
        color: #373F50;
    }
    span {
        color: #8991A4;
    }
}

.more-info-left {
    background-color: #FFF1F2;
    i {
        color: $primary-color;
    }
}

.more-info-right {
    background-color: #EFF0FA;
    i {
        color: #4E54C8;
    }
}

footer {
    background-color: $bg-dark;
    a {
        color: #B1BCBB;
        transition: .2s;
        font-weight: 500;
        font-size: 14px;
        &:hover {
            color: #fff;
        }
    }
    .form-control {
        padding: 20px;
        &:focus {
            box-shadow: none;
            border-color: $primary-color;
        }
    }
    .download-text {
        font-size: 15px;
        span {
            font-size: 10px;
            color: #8991A4;
        }
    }
    .btn {
        background-color: #2B3445;
        border: none;
        &:hover {
            background-color: #232a38;
        }
    }
}

// shop page 
.shop-banner {
    background-color: $bg-dark;
}

.shop-main {
    .product-item {
        border-radius: 4px;
        overflow: hidden;
        .product-top .btn-primary {
            background-color: #F3F5F9;
            padding: 4px 10px;
            top: 10px;
            right: 28px;
            i {
                color: $text-color;
            }
        }
        &:hover {
            box-shadow: 0px 14px 30px -7px rgba(0,0,0,0.28);
            .product-hidden {
                display: block;
            }
        }
        img {
            width: 100%;
            cursor: pointer;
        }
        .product-bottom {
            .category-link {
                font: {
                    weight: 500;
                    size: 12px;
                }
            }
            .product-link {
                color: #232a38;
                font-weight: 500;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .product-span {
            .fas {
                color: #FEA569;
                font-size: 12px;
                &.star-outline {
                    font-weight: 400;
                }
            }
            .product-price {
                font-size: 18px;
                color: #4E54C8;
                font-weight: bold;
            }
        }
        .product-options {
            .btn {
                font-size: 13px;
                width: 30px;
                padding: 4px;
                &.btn-primary {
                    padding-bottom: 6px;
                }
            }
        }
        .product-hidden {
            bottom: -100px;
            background-color: #fff;
            left: 15px;
            right: 15px;
            z-index: 100;
            box-shadow: 0px 22px 30px -7px rgba(0,0,0,0.28);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            display: none;
            transition: .2s;
            .transparent {
                opacity: 0;
                height: 18px;
                width: 100%;
            }
        }
    }
}