$primary-color: #db5a04;
$dark-color: #232a38;
$text-color: #4b566b;
$light-text-color: #8991A4;
$bg-dark: #373F50;

// set up 
.form-control {
    padding: 20px 12px;
    border-radius: 4px;
    &:focus {
        border-color: #ffb4b5;
        box-shadow: 0 0 0 1px #ffe6e6;;
    }
}

.blue-span {
    color: #fff;
    background-color: #69B3FE;
}

.dark-text {
    color: $dark-color;
}

.md-text {
    color: $text-color;
}

.light-text {
    color: $light-text-color;
}

.font-weight-md {
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.btn {
    box-shadow: none!important;
}

.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    &:hover, &:active {
        background-color: #f16519!important;
        border: 1px solid #f16519!important;
    }   
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    &:hover, &:active {
        background-color: $primary-color!important;
        color: #fff;
        border-color: $primary-color!important;
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1260px;
    }
}

.page-container {
    margin-top: 56px;
}

.banner {
    background: url('../image/slide_img.jpg');
    background-size: cover;
    min-height: 140px;
}

.sidebar {
    box-shadow: 0px 1px 16px -2px rgba(0,0,0,0.1);
    min-height: 400px;
    left: 0;
    right: 0;
    top: -115px;
    z-index: 100;
    background: #fff;
}

.dropdown-toggle {
    cursor: pointer!important;
}
.dropdown-toggle::after {
    display: none!important;
}

// header 
.header {
    box-shadow: 0px 19px 3px -18px rgba(0,0,0,0.1);
}
.navbar {
    padding: 0;
    background-color: #fff;
    .navbar-brand h3 {
        color: $primary-color;
        border-top-right-radius: 100%!important;

    }
    .navbar-img {
        height: 25px;
        width: 25px;
    }

    .navbar-toolbar {
        flex: 0.24;
        .cart-icon {
            position: relative;
            background-color: #f3f5f9;
            padding: 10px 10px 6px 10px;
            i {
                font-size: 18px;
            }
            span {
                position: absolute;
                top: -4px;
                right: -4px;
                color: #fff;
                background-color: $primary-color;
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }

    .navbar-nav {
        flex: 1;
        .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            a {
                font-weight: 500;
                font-size: 17px;
                transition: .2s;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

// footer 
footer {
    background-color: $bg-dark;
    a {
        color: #B1BCBB;
        transition: .2s;
        font-weight: 500;
        font-size: 14px;
        &:hover {
            color: #fff;
        }
    }
    .form-control {
        padding: 20px;
        &:focus {
            box-shadow: none;
            border-color: $primary-color;
        }
    }
    .download-text {
        font-size: 15px;
        span {
            font-size: 10px;
            color: #8991A4;
        }
    }
    .btn {
        background-color: #2B3445;
        border: none;
        &:hover {
            background-color: $dark-color;
        }
    }
}

// home page
.home-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/slide_img.jpg');
    min-height: 620px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 250px;
    a {
        min-width: 200px;
    }
    h2 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &.register, &.login {
        text-align: unset;
        padding: 60px 0;
        background: url('../image/slide_img.jpg');
        background-position: center;
        background-size: cover;
    }
    &.login {
        padding-top: 140px;
    }
}

.more-info-left,
.more-info-right {
    flex: 1;
    i {
        font-size: 30px;
    }
    h4 {
        color: #373F50;
    }
    span {
        color: #8991A4;
    }
}

.more-info-left {
    background-color: #FFF1F2;
    i {
        color: $primary-color;
    }
}

.more-info-right {
    background-color: #EFF0FA;
    i {
        color: #4E54C8;
    }
}

// shop page 
.shop-main {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/slide_img.jpg');
    background-position: center;
    background-size: cover;
    .product-item {
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        .product-top .btn-primary {
            background-color: #F3F5F9;
            border: none;
            padding: 4px 10px;
            top: 10px;
            right: 28px;
        }
        &:hover {
            box-shadow: 0px 14px 30px -7px rgba(0,0,0,0.28);
            .product-hidden {
                display: block;
            }
        }
        img {
            width: 100%;
            max-height: 314px;
            // padding: 0 25px;
            cursor: pointer;
        }
        .product-bottom {
            .category-link {
                font: {
                    weight: 500;
                    size: 12px;
                }
            }

        }
        .product-span {
            .fas {
                color: $primary-color;
                font-size: 12px;
                &.star-outline {
                    font-weight: 400;
                }
            }
        }
        .product-options {
            .btn {
                font-size: 13px;
                width: 30px;
                padding: 4px;
            }
        }
        .product-hidden {
            bottom: -40px;
            background-color: #fff;
            left: 15px;
            right: 15px;
            z-index: 100;
            box-shadow: 0px 22px 30px -7px rgba(0,0,0,0.28);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            display: none;
            transition: .2s;
            .transparent {
                opacity: 0;
                height: 18px;
                width: 100%;
            }
        }
    }
}

.product-link {
    font: {
        weight: 500;
        size: 16px;
    }
    &:hover {
        color: $primary-color;
    }
}

.product-price {
    font-size: 18px;
    color: #4E54C8;
    font-weight: bold;
}

// cart 
.cart-img {
    width: 90px;
}

.cart-item {
    .product-link {
        font-size: 18px;
    }
    .form-control {
        width: 70%;
        &:focus {
            border-color: $primary-color;
            box-shadow: none;
        }
    }
    .product-quantity {
        .update-cart {
            cursor: pointer;
        }
        .btn {
            color: $primary-color;
        }
    }
}

// checkout page 
.user-info {
    background-color: #F6F9FC;
}
.checkout-item {
    p {
        color: #4E54C8;
    }
}
.checkout-img {
    width: 66px;
}

#checkout-form {
 select {
    padding: 0px 8px;
    height: 42px;
    cursor: pointer;
 }
 input.input-filled {
     background-color: #ffe9d6;
     &:focus {
         background-color: unset;
     }
 }
}

.category-link {
    color: $primary-color;
    &:hover {
        color: #f16519;
    }
}

.form {
    background-color: #fff;
    max-width: 600px;
    padding: 20px 30px;
}